* {
  font-family: "Fredoka", Sans-serif;
  color: #fbf5ef;
}
#content {
  padding: 16px;
  flex-grow: 1;
}
#frame {
  max-width: 800px;
  object-fit: contain;

  background-color: #7f00ff;
  border: 1px solid #770be3;
  border-radius: 8px;

  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;

  margin-left: auto;
  margin-right: auto;
}
#frameH {
  max-width: 800px;
  object-fit: contain;

  background-color: #7f00ff;
  border: 1px solid #770be3;
  border-radius: 8px;

  padding: 32px;
  padding-left: 16px;
  padding-right: 16px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 13px 17px 0 rgba(0,0,0,0.19);
}
.link {
  color: #fbf5ef;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.link:hover {
  color: #f2d3ab;
}
.btn {
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #7300e6;
  border: none;
  color: #FFFFFF;
  padding: 16px 16px;
  text-align: center;
  text-size: 16px;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  text-decoration: none;
}
.btnH {
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: #7300e6;
  border: none;
  color: #FFFFFF;
  padding: 16px 16px;
  text-align: center;
  text-size: 16px;
  border-radius: 12px;
  margin: 4px 2px;
  display: inline;
  width: 15%;
  text-decoration: none;
}
.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 13px 17px 0 rgba(0,0,0,0.19);
}
.btnH:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 13px 17px 0 rgba(0,0,0,0.19);
}
html {
    /*background-color: #5d00ba;*/
    background-color: #ffffff;
    scroll-behavior: smooth;
    height: 100vh;
    overflow: hidden;
  
}
iframe {
  border-radius: 12px;
}
.mySlides {display:none;}
img {
  width: 784px;
  vertical-align: middle;
  border-radius: 12px;
}
* {box-sizing: border-box}

.mySlides {display: none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 40%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sticky {
  position: fixed;
  z-index:10000;
  left: 50%;
  transform: translate(-50%, 0);
}

.container {
  padding: 2px 16px;
}
#myInput {
  background-image: url('/css/searchicon.png');
  border-radius: 8px;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #770be3;
  border-radius: 8px;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

body {
  /* background-image: url("images/gecko.png");
  background-size: 10%;  */
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
}
.gecko {
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.gecko::before {
  background-image: url("images/gecko.png");
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 10%;  
  transform: translateZ(-1px) scale(2.2);
}
#home {
  max-width: 800px;
  object-fit: contain;
  opacity: 0%;
  background-color: #7f00ff;
  padding: 60px;
  padding-left: 16px;
  padding-right: 16px;
}
